[submodule "common"]
	path = common
	url = git@github.com:cthulhu-platform/common.git
[submodule "filemanager"]
	path = filemanager
	url = git@github.com:cthulhu-platform/filemanager.git
[submodule "auth"]
	path = auth
	url = git@github.com:cthulhu-platform/auth.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:cthulhu-platform/gateway.git
[submodule "client"]
	path = client
	url = git@github.com:cthulhu-platform/client.git
